/* ----Fonts Merriweather imports------ */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Open+Sans:wght@400;700;800&family=Roboto:wght@400;500;700&family=Work+Sans:wght@300&display=swap");

/* ----Fonts Inter, cursive, sans-serif imports------ */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Merriweather:wght@400;900&family=Open+Sans:wght@400;700;800&family=Roboto:wght@400;500;700&family=Work+Sans:wght@300&display=swap");

/* ------Global style------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----Shared Styles--------- */

/* -----Header/Banner Section Style Start------ */
header {
  background-color: #ffffff;
}
.banner-container {
  width: 82.5%;
  max-width: 1320px;
  margin: 50px auto 120px;
  border-radius: 16px;
  position: relative;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}
.bg-img {
  width: 100%;
  height: auto;
  filter: brightness(0.6);
}
.banner-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-style: normal;
  line-height: normal;
  text-align: center;
  font-family: "Merriweather", "sans-serif";
}
.banner-title {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
}
.banner-desc {
  margin: 0;
  padding: 2px 3px;
  font-size: 72px;
  font-weight: 900;
  width: 632px;
}
/* -----Header/Banner Section Style End------ */

/* ------Main Section style Start------- */
main {
  width: 82.5%;
  max-width: 1320px;
  margin: 50px auto 120px;
  background-color: #ffffff;
}

/* ----Dicount Section ---- */
.special-discount-container {
  width: 60.8%;
  max-width: 803px;
  margin: 0 auto 120px;
}
.discount-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.discount-text-container {
  text-align: center;
  font-family: "Inter", "sans-serif";
  font-style: normal;
  color: #f00;
}
.discount-text-container > h1 {
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}
.discount-text-container > p {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}
.discount-text-container > h3 {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}
.discount-ads img {
  width: 100%;
}
/* ----Discount Section style End----  */

/* ------Midnight Party Section Start----- */

.midnight-party-container {
  border-radius: 16px;
  position: relative;
  border-radius: 16px;
  margin-bottom: 120px;
}
.midnight-bg {
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
}
.party-bg-effects {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  z-index: 2;
}

.party-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 39px;
  z-index: 7;
}

.party-text-container {
  flex: 1;
  color: #ffffff;
  margin-left: 50px;
}

.party-title {
  width: 642px;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}

.party-desc {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter, cursive, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.party-join-btn {
  margin-top: 48px;
  margin-left: 32px;
  padding: 5px 32px;
  color: #ffffff;
  text-align: center;
  font-family: Inter, cursive, sans-serif;
  font-size: 20px;
  font-weight: 700;
  box-sizing: border-box;
  border-radius: 5px;
  background: linear-gradient(45deg, rgba(41, 134, 216, 0.623), rgb(255, 0, 0));
  align-items: center;
  transition: transform 1s ease-in;
  border: none;
  cursor: pointer;
}
.party-join-btn:hover {
  transform: scale(1.1);
  background: linear-gradient(45deg, rgb(255, 0, 0), rgba(167, 107, 57, 0.623));
}
.party-year {
  margin-right: 100px;
}
.party-year img {
  width: 100%;
  height: 400px;
}
/* ------Midnight Party Section End----- */

/* -----Party Place start--------- */

.party-place-container {
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(
      to right,
      #7c1515,
      #ff9900,
      #ffff00,
      #00ff00,
      #0000ff,
      #4b0082,
      #9400d3
    )
    1;
  margin-bottom: 120px;
}
.party-place {
  padding-top: 100px;
  text-align: center;
  font-style: normal;
  font-family: Inter, cursive, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  margin-bottom: 110px;
}
#bottom {
  margin-right: 20px;
}
.party-place > p {
  color: #070211;
}
.party-place > p > span {
  color: #f00;
}
/* -----Party Place end---------  */

/* --------Best offer section start------ */
.best-offers-container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto 120px;
}

.offers {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.container1 {
  flex-basis: 100%;
}
.offer-title {
  color: #f00;
  font-family: "Inter", cursive, sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.offer-status {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 36px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.offer-desc {
  width: 100%;
  max-width: 380px;
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", cursive, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
}

.container2 {
  flex-basis: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container2 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  padding: 20px;
  border: 15px solid #f00;
  transform: rotate(360deg);
  animation: rotate 20s infinite linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container3 {
  flex-basis: 80%;
  text-align: left;
  margin-left: 20px;
  align-self: flex-end;
}

.container3 > h1 {
  color: #f00;
  font-family: "Inter", cursive, sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.container3 > p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", cursive, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
}

.container3 > img {
  width: 100px;
  height: 100px;
}

/* --------Best offer section End------ */

/* --------portfolio section start------ */

.portfolio-container {
  width: 100%;
  font-style: normal;
  line-height: normal;
  margin-bottom: 120px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 2px;
}

.portfolio-container > h4 {
  color: #f00;
  font-family: Inter, cursive, sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.portfolio-container > h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 22px;
}
.portfolio-container > p {
  width: 896px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter, cursive, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
}
.profolio-items {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  justify-content: space-between;
  align-items: center;
}
.items {
  width: 32%;
  height: auto;
  box-sizing: border-box;
  background: transparent;
  border-radius: 16px;
  transition: transform 1s ease-in;
}
.items:hover {
  transform: scale(1.08);
  cursor: pointer;
}
.items img {
  width: 100%;
}
/* --------portfolio section start------ */

/* ------Newsletter section start------  */
.newsletter-container {
  width: 100%;
  max-width: 1320px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  border: 1px solid red;
  padding: 40px;
  margin-bottom: 120px;
}

.newsletters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-style: normal;
  line-height: normal;
}

.letters-icon {
  width: 150px;
  height: 150px;
  border: none;
  margin: 80px auto 40px;
}

.letter-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}

.letter-desc {
  margin: 0 100px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter, cursive, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.sub-button {
  width: 100%;
  max-width: 648px;
  height: 72px;
  margin: 48px auto 80px;
  display: flex;
  align-items: center;
}

.input-area {
  width: 438px;
  height: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 50px 0px 0px 50px;
  outline: none;
  border: none;
  margin: 0;
  font-size: 18px;
  padding: 25px 0 25px 30px;
}
.input-area::placeholder {
  color: rgba(7, 2, 17, 0.3);
  font-family: Inter, cursive, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.btn {
  width: 210px;
  height: 100%;
  color: #fff;
  text-align: center;
  font-family: Inter, cursive, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin: 0;
  border: none;
  outline: 0;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #edcb33;
}
/* ------Newsletter section end------  */

/* -----Footer section ---  */
footer {
  width: 100%;
  background: #070211;
}
.footer-container {
  width: 82.5%;
  max-width: 1320px;
  margin: 0 auto;
}
.address-links-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 120px 0 50px;
}
.address > p {
  font-family: Inter, cursive, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.connect {
  color: #ffffff;
  font-family: Inter, cursive, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  text-decoration: none;
  padding: 8px;
}
.connect img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 5px;
}
.footer-container hr {
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 1px;
  border: 0;
  outline: 0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7);
}
.social-links {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 48px 0;
}
.social-links > a > img {
  width: 64px;
  height: 64px;
}
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 120px;
}
.copyright p {
  color: #fff;
  font-family: Inter, cursive, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
