/* ----Fonts Merriweather imports------ */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Open+Sans:wght@400;700;800&family=Roboto:wght@400;500;700&family=Work+Sans:wght@300&display=swap");

/* ----Fonts Inter imports------ */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Merriweather:wght@400;900&family=Open+Sans:wght@400;700;800&family=Roboto:wght@400;500;700&family=Work+Sans:wght@300&display=swap");

/* ------Global style------ */
* {
  margin: 0;
  padding: 0;
}

/* -----Header/Banner Section Style Start------ */
header {
  background-color: #ffffff;
}
.banner-container {
  width: 82.5%;
  max-width: 1320px;
  margin: 50px auto 50px;
  border-radius: 16px;
  position: relative;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}
.bg-img {
  width: 100%;
  height: auto;
  filter: brightness(0.6);
}
.banner-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-style: normal;
  line-height: normal;
  text-align: center;
  font-family: "Merriweather", "sans-serif";
}
.banner-title {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
}
.banner-desc {
  margin: 0;
  padding: 2px 3px;
  font-size: 72px;
  font-weight: 900;
  width: 632px;
}
/* -----Header/Banner Section Style End------ */
